/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* general text styling */
body {
    font-family: Quicksand, sans-serif;
    background-color: #FFE4C4;
}

h1 {
    font-size: xxx-large;
    color: #A0522D;
    padding: 25px;
    text-align: center;
}

h2 {
    font-size: x-large;
    color: #A0522D;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: x-large;
    color: #8B4513;
    text-align: center;
}

.intro-titles {
    margin:50px;
    padding:0;
}

/* homepage container */
.container {
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #DEB887;
    position: fixed;
    border-radius: 25px;
}

/* inital page name form */
form {
    text-align: center;
    padding: 10%;
}

.name {
    background: transparent;
    border: 3px solid #A0522D;
    border-radius: 25px;
    width: 240px;
    height: 40px;
    outline: none;
}

input::placeholder {
    text-align: center;
    color: #404040;
}

#submit {
    margin: 30px;
    height: 50px;
    width: 250px;
    font-size: medium;
    background-color: #ffe4c4d9;
    border: 3px solid #A0522D;
}

#submit:hover {
    background-color: #A0522D;
    color: white;
    cursor: pointer;
}


/* quiz container */
.quiz-container {
    top: 50%;
    left: 50%;
    width: 75%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #DEB887;
    position: fixed;
    border-radius: 25px;
}

/* quiz text inputs */
div button {
    color: #8B4513;
    background-color: #ffe4c4d9;
    border: 2px solid #A0522D;
    width: 75%;
    margin: 5%;
    border-radius: 25px;
    margin: 5px 13%;
    height: 100px;
}

button a {
    text-decoration: none;
}

h1 h2 {
    vertical-align: middle;
}

div h1 {
    font-size: 200%;
}

div p {
    color: #8B4513;
    background-color: #ffe4c4d9;
    border: 2px solid #A0522D;
    width: 75%;
    margin: 5%;
    border-radius: 25px;
    margin: 5px 13%;
    height: 100px;
}

div h2:hover{
    color: #DEB887;
}

.choice-section {
    margin: 30px 0;
}

/* chosen answer responses */
.correct {
    background-color: #2E8B57;
    border: none;
}

.incorrect {
    background-color: #FA8072;
    border: none;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* end page */

#end-page {
    height:auto;
}

#end-page:hover {
    border: 3px outset #A0522D;
    cursor: pointer; 
}


/* media queries */

@media (max-width: 1000px) {
    .container {
        width:70%;
    }
}

@media (max-width: 560px) {
    #submit {
        width: 40%;
    }
    .name {
        width: 70%;
    }
    h1 {
        margin: 0;
        padding: 0;
    }
}