/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* general text styling */
body {
    font-family: Quicksand, sans-serif;
    background-color: #FFE4C4;
}

h1 {
    font-size: xxx-large;
    color: #A0522D;
    padding: 25px;
    text-align: center;
}

h2 {
    font-size: x-large;
    color: #A0522D;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: x-large;
    color: #8B4513;
    text-align: center;
}

/* homepage container */
.container {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: #DEB887;
    position: fixed;
    border-radius: 25px;
}

/* inital page name form */
form {
    text-align: center;
    padding: 10%;
}

.name {
    background: transparent;
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
    height: 40px;
}

.submit {
    margin: 30px;
    height: 50px;
    width: 50%;
    font-size: medium;
    background-color: #ffe4c4d9;
}

.submit:hover {
    background-color: #A0522D;
    color: white;
    cursor: pointer;
}


/* quiz container */
.quiz-container {
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: #DEB887;
    position: fixed;
    border-radius: 25px;
}

/* quiz text inputs */
div button {
    color: #8B4513;
    background-color: #ffe4c4d9;
    border: 2px solid #A0522D;
    width: 75%;
    margin: 5%;
    border-radius: 25px;
    margin: 5px 13%;
    height: 100px;
}

button a {
    text-decoration: none;
}

h1 h2 {
    vertical-align: middle;
}

div h2:hover{
    color: #808000;
}
