/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&display=swap');


/* general text styling */
body {
    font-family: Quicksand, sans-serif;
    background-color: #FFE4C4;
    margin: 0;
    padding:0;
    font-size: 62.5%;
    color: #8B4513;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 10px 15px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

button {
    font-family: Quicksand, sans-serif;
}

/* user introduction container */
#intro-container{
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #DEB887;
    position: fixed;
    border-radius: 25px;
}

/* introduction form */
form {
    text-align: center;
    padding: 10%;
}

.name {
    background: transparent;
    border: 2px solid #A0522D;
    border-radius: 25px;
    outline: none;
    height: 40px;
    margin: 20px 0;
    width:75%;
}

h2 button {
    text-transform: uppercase;
    font-size: 1.25rem;
}

input {
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: #404040;
}

#submit button:hover {
    color: #ffe4c4d9;
    background-color: #A0522D;
    cursor: pointer;
}

/* quiz container */
.container {
    text-align: center;
    min-height: 300px;
    height: auto;
    margin-top: 5%;
}

div button {
    color: #8B4513;
    background-color: #ffe4c4d9;
    border: 2px solid #A0522D;
    border-radius: 25px;
    width:75%;
    height:auto;
    min-height: 50px;
}

div button:hover {
    border: 5px solid #A0522D;
    cursor: pointer;
}

h3 button {
    font-size: 2rem;
    padding: 20px;
}

.uppercase {
    text-transform: uppercase;
}

/* chosen answer responses */
.correct {
    background-color:#556B2F;
    color:#BDB76B;
    border: none;
}

.correct:hover {
    border: none;
}

.incorrect {
    background-color:#D2B48C;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    text-transform: uppercase;
}

/* media queries */
@media (max-width: 1000px) {
    #intro-container {
        width:80%;
    }
}

@media (max-width: 450px) {
    body {
    font-family: 'Josefin Sans', sans-serif;
    }
    h1 {
    font-size: 1.5rem;
    margin: 25px;
    }
    div button {
        margin-top: 10px;
    }
    button h3 {
        font-size: 1rem;
    }
    button {
        font-family: 'Josefin Sans', sans-serif;
    }
}

